<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ApiRestRepositorio</display-name>
  <servlet>
    <servlet-name>org.javimelli.rest.ApiRestRepositorio</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>org.javimelli.resources</param-value>
    </init-param>
    <!--  Este es el código que se añade para porder utilizar multipart -->
    <init-param>  
    	<param-name>jersey.config.server.provider.classnames</param-name>  
    	<param-value>org.glassfish.jersey.filter.LoggingFilter; org.glassfish.jersey.media.multipart.MultiPartFeature</param-value>  
	</init-param>
	<!-- -->
  </servlet>
  <servlet-mapping>
    <servlet-name>org.javimelli.rest.ApiRestRepositorio</servlet-name>
    <url-pattern>/resources/*</url-pattern>
  </servlet-mapping>
</web-app>